<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Cart App</title>
        <link rel="stylesheet" href="stylesheets/app.css">
    </head>
    <body>
        <section id="flux-cart"></section>
              
        <script src="Cart.js"></script>
    </body>
</html>