<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div id="content"></div>
    <script src="Index.js"></script>
  </body>
</html>
