<!DOCTYPE html>
<html>
  <head>
    <title>Voting application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    <div id="content"></div>
    <script src="Index.js"></script>
  </body>
</html>
